includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - app
        - database/factories
    stubFiles:
        - stubs/TesseractOCR.stub.php
    parallel:
        maximumNumberOfProcesses: 1
    treatPhpDocTypesAsCertain: false
